<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIE CATLOG</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="navbar">
        <img src="../photos/logof.png" id="logoid" class="logo" alt="logo">
        <!-- <h3>MOVIE HUT</h3> -->
        <div class="search_container">
            <form role=" search" id="form">
                <input type="search" id="query" name="q" placeholder="Search...">
            </form>
        </div>
    </div>
    <!-- <div style="padding-left: 16px;"> -->
    <hr>
    <div class="form">
        <!-- <form action="" method="post">
            <div id="mname">movie name<input type="text"></div>
            <div id="uname">user name<input type="text"></div>
            <div id="rev">review<input type="textarea"></div>
            <button type="submit" onclick="getusers_body()">send review</button>
        </form> -->
    </div>
    <!-- </div> -->
    <section id="section">
        <!-- <div class="row">
            <div class="column">
                <div class="card" id="card">
                   <center><img src="./photos/first.jpg" class="thumbnail"></center>
                    <h3>Movie Title</h3>
                </div>
            </div>
        </div> -->
    </section>
    <script src="./script.js"></script>
    
</body>
</html>

<!-- <div class="card">
                <img src="./photos/fifty.jpg" class="thumbnail">
            </div>
            <div class="card">
                <img src="./photos/365.jpeg" class="thumbnail">
            </div>
            <div class="card">
                <img src="./photos/fifty.jpg" class="thumbnail">
            </div>
            <div class="card">
                <img src="./photos/l2.jpeg" class="thumbnail">
            </div>
            <div class="card">
                <img src="./photos/l3.jpeg" class="thumbnail">
            </div>
            <div class="card">
                <img src="./photos/lord.jpeg" class="thumbnail">
            </div>
            <div class="card">
                <img src="./photos/nxt.jpeg" class="thumbnail">
            </div>  -->
<!-- </div>
            <!-- <h3>Movie Title</h3>
        </div> 
    </div>
    <!-- script -->