body{
    background-color: black;
}
.container{
    margin-top: 60px;
    margin-left: 35px;
}
img:hover{
    cursor: pointer;
}
img{
    width: 30vh;
    height: auto;
}
h1{
    color: aliceblue;
}
.logo{
    margin: 10px;
}